{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class="row" >
		<div class="links" id="header">
				<h3><a href="#">Post</a></h3> | 
				<h3>
					<a href="{{ url_for('users.signup') }}">SignUp</a> / 
					<a href="{{ url_for('users.login') }}">Login
					</a>
				</h3>
		</div>	
		<div id="all_posts">
			{% for post in posts_paginate.items %}
				<div class="gallery">
					<a href="{{ url_for('posts.show', user_id=post.user_id, post_id=post.id) }}">
						<img src="{{ post.images[0].image }}" alt="No image available" width=200 height=200>
					</a>
				</div>		
			{% endfor %}		
		</div>
	</div>	
</div>

{{pagination.info}}
{{ pagination.links }}
{% endblock %}