
#header{
	padding-top: 200px;
    padding-bottom: 100px;
	background-color: #EB3B88;
}

#all_posts{
    background-color: #FFCBE2;
}
a:link{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

.links{
	display: block;
	text-align: center
}

.personal, .upload, .post{
    max-width: 500px
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.personal label{
    display:block;
    margin-bottom: 10px;
}

.personal label > span{
	float: left;
	width: 100px;
	color: #F072A9;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}

.personal fieldset, .upload fieldset, .post fieldset{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #FFD2D2;
    padding: 20px;
    background: #FFF4F4;
    box-shadow: inset 0px 0px 15px #FFE5E5;
    -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}


.personal fieldset legend, .upload fieldset{
    color: #FFA0C9;
    border-top: 1px solid #FFD2D2;
    border-left: 1px solid #FFD2D2;
    border-right: 1px solid #FFD2D2;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #FFF4F4;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow:-0px -1px 2px #F1F1F1;
    -webkit-box-shadow:-0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 12px;
}



.personal textarea{
    width:250px;
    height:100px;
}

.personal input[type=text],
.upload input[type=file],
.personal textarea{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #FFC2DC;
    outline: none;
    color: #F072A9;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #FFD5E7;
    -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
    -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
    background: #FFEFF6;
    width:50%;
}
.personal  button[type=submit]{
    background: #EB3B88;
    border: 1px solid #C94A81;
    padding: 5px 15px 5px 15px;
    color: #FFCBE2;
    box-shadow: inset -1px -1px 3px #FF62A7;
    -moz-box-shadow: inset -1px -1px 3px #FF62A7;
    -webkit-box-shadow: inset -1px -1px 3px #FF62A7;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;    
    font-weight: bold;
}
.required{
    color:red;
    font-weight:normal;
}

h3{
    color: #C94A81;

}

.details{
    display: inline-block;
}

.images label{
    display:block;
    margin-bottom: 10px;
}

.gallery{
    border-radius: 3px;
    box-shadow: inset -1px -1px 3px #FF62A7;
    border: 1px solid #C94A81;
    overflow: hidden;
    white-space: normal;
    vertical-align: top;
}


