{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="personal">
			<form method="POST" action="{{ url_for('posts.post') }}">
			<!-- if you dont include this leads to error - bad request csrf token is missing. you can verify by doing post_form.data or post_form.errors -->
				{{ post_form.csrf_token }}  
				<fieldset>
					<legend>Personal Information</legend>
				    <p>Contact Name <span class="required">*</span>
				    {{ post_form.contactName(placeholder="contact name") }}
					    <span>
					      {% if post_form.contactName.errors %}
					        {% for error in post_form.contactName.errors %}
					          {{ error }}
					        {% endfor %}
					      {% endif %}
					    </span>
	  				</p>	 			
				    <p>Phone Number <span class="required">*</span>
				    {{ post_form.phoneNo(placeholder="phoneNo") }}
					    <span>
					      {% if post_form.phoneNo.errors %}
					        {% for error in post_form.phoneNo.errors %}
					          {{ error }}
					        {% endfor %}
					      {% endif %}
					    </span>
	  				</p>	
				    <p>Post Title <span class="required">*</span>
				     {{ post_form.postTitle(placeholder="postTitle") }}
					    <span>
					      {% if post_form.postTitle.errors %}
					        {% for error in post_form.postTitle.errors %}
					          {{ error }}
					        {% endfor %}
					      {% endif %}
					    </span>
	  				</p>		  							
				</fieldset>
				<fieldset><legend>Description</legend>
					<p>
						<span>Items Description <span class="required"></span>
						{{post_form.postDescription}}
						</span>
						<span>
					      {% if post_form.postDescription.errors %}
					        {% for error in post_form.postDescription.errors %}
					          {{ error }}
					        {% endfor %}
					      {% endif %}
					    </span>
					</p>	

				</fieldset>
				<br>
  				<button type="submit">continue</button>
			</form>
		</div>
	</div>
</div>		

{% endblock %}