{% extends 'base.html' %}
{% block content %}

<div class="post">
	<fieldset>
		<div class="details">
			<img src= "{{ post.images[0].image }}" alt="No image available" width="440" height="500">
		</div>
		<div class="details">
			<h3> Title: {{ post.title }} </h3>
			<h3> Desription: {{ post.description }} </h3>
			<h3> Contact Name: {{ post.contactName }} </h3>
			<h3> Address: {{ post.address }} </h3>
			<h3> Email: {{ post.contactEmail }} </h3>
			<h3> Call: {{ post.phoneNo }}</h3>
		</div>
	</fieldset>
</div>	
{% endblock %}