{% extends 'base.html' %}
{% block content %}

<script>
  UPLOADCARE_PUBLIC_KEY = "01ce893a4876c84ccedd";
</script>
<script charset="utf-8" src="//ucarecdn.com/libs/widget/2.10.3/uploadcare.full.min.js"></script>
<div class="container">
	<div class="row">
		<div class="upload">
			<form method="POST" enctype=multipart/form-data action="{{ url_for('images.upload_files', user_id=user_id, post_id=post_id) }}">
				{{ upload_form.csrf_token }}
				<input type="hidden" data-multiple="true" role="uploadcare-uploader" name="image" />
				<fieldset>
				    <p>
					    <span>
					      {% if upload_form.image.errors %}
					        {% for error in upload_form.image.errors %}
					          {{ error }}
					        {% endfor %}
					      {% endif %}
					    </span>
         			</p>
         			<img id="images"/>
         			<script>
         				document.getElementById('image').onchange = function(event){
						    var images = document.getElementById('images');
						    images.src = URL.createObjectURL(event.target.files[0]);
         				}
					</script>
					<br>
         			<input type=submit value=Upload>
         		</fieldset>	
			</form>
		</div>
	</div>
</div>		

{% endblock %}